/*==================================== Goole Font ===============================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #00f7ff 0%, #0004ffb9 100%);

    display: flex;
    align-items: center;
    justify-content: center;
}

/*======================================== Game UI ===============================================*/
main {
    display: flex;
    position: relative;

    width: 110rem;
    height: 50rem;
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 4rem 8rem 4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    overflow: hidden;
}

.player {
    flex: 0 0 50%;
    padding: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*================================================= Elements =====================================*/
.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    word-spacing: 2px;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: #ff0048;
    margin-bottom: auto;
}

.player-active {
    background-color: rgba(255, 255, 255, 0.4);
}

.player-active .name {
    font-weight: 700;
}

.player-active .score {
    font-weight: 400;
}

.player-active .current {
    opacity: 1;
}

.current {
    background-color: #ff0048;
    opacity: 0.8;
    border-radius: 1rem;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
}

.current-score {
    font-size: 3.5rem;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-style: monospace;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    background-color: white;
    padding: 1.5rem 2.5rem;
    border-radius: 0;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.btn::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.7rem;
}

.btn-new {
    position: absolute;
    top: 0;
    left: 8rem;
}

.btn-roll {
    position: absolute;
    top: 0;
    left: 100rem;
    width: 20rem;
}

.btn-hold {
    bottom: 0;
}

.btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    height: 12rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.336);
}

.player-winner {
    background-color: #2f2f2f;
}

.player-winner .name {
    font-weight: 700;
    color: #fc0047;
}

.hidden {
    display: none;
}

/*============================================= Media Query =====================================*/
@media screen and (max-width: 1100px) {
    main {
        flex-direction: column;
        width: 45rem;
        height: 65rem;
    }

    .player {
        padding: 4rem;
        justify-content: center;
    }

    .name {
        font-size: 2.4rem;
        margin-bottom: 0.2rem;
    }

    .score {
        font-size: 2rem;
        margin-bottom: 2.4rem;
    }

    .current {
        width: 25%;
        padding: 0.8rem;
    }

    .current-label {
        font-size: 1.2rem;
    }

    .current-score {
        font-size: 2.2rem;
    }

    .btn {
        font-size: 1.2rem;
        padding: 0.8rem 1.6rem;
    }

    .btn::first-letter {
        font-size: 1.6rem;
        margin-right: 0.2rem;
    }

    .btn-new {
        left: 5rem;
    }

    .btn-roll {
        left: 40rem;
        width: 12rem;
    }

    .dice {
        top: 50%;
        left: 43%;
        height: 6rem;
        transform: translateY(-50%);
    }
}

@media screen and (max-width) {
}
